.profile-container{
    width:40vw;
    margin:auto;
    margin-top:25vh;
    border:black 2px solid;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 5px 5px lightgray;
  }