*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.repo-div{
  position: relative;
}

.repo-div:after{
  content:""; 
  background: grey; 
  position: absolute; 
  bottom: 0; 
  left: 30%; 
  height: 2px; 
  width: 40%;
}

.repo-div-title{
  font-size: 1.5vw;
  font-weight: bold;
}


.repo-list{
  list-style: none;
  padding:0;
}

.repo-item{
  margin-top:2px;
}

.repo-name-div{
  display: inline-block;
  width:50%;
  font-size: 1.1vw;
}

.repo-link-div{
  display: inline-block;
  width:50%;
}

.repo-link{
  text-decoration: none;
  font-size: 1vw;
  background: rgb(31, 29, 29);
  color:white;
  border-radius:3px;
  padding:3px 6px;
}
.repo-link:hover{
  text-decoration: none;
  font-size: 1.2vw;
  background: rgb(73, 72, 64);
  color:white;
  border-radius:3px;
  padding:6px 12px;
  box-shadow: 2px 2px lightgray;
}

.no-results-div{
  font-size: 0.8vw;
  margin-bottom:5px;
}














